name: 'build-test'

on:
  push:
  pull_request:
  schedule:
    - cron: '0 1 * * SUN'
  workflow_dispatch:

jobs:
  build_and_unit_test:
    name: '${{ matrix.os }}: build and unit tests'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: actions/setup-node@v2.5.1
      with:
        node-version: '12.x'
      # How to consume GitHub packages, from this message (!): https://github.community/t/download-from-github-package-registry-without-authentication/14407/35
      # Inspired from here: https://github.com/jcansdale-test/npmrc-configurations/blob/master/.github/workflows/blank.yml
    - name: Authenticate to GitHub Packages
      run: |
        echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc
        echo "@${{ github.repository_owner }}:registry=https://npm.pkg.github.com/" >> ~/.npmrc
    - run: |
        npm install
        npm run test
      name: build and test
      shell: bash
    - name: Coveralls
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel: true
        flag-name: ${{ matrix.os }}-build_and_unit_test
      env:
        NODE_COVERALLS_DEBUG: 1

  tests:
    needs: build_and_unit_test
    name: '${{ matrix.os }}: functional tests'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: checkout this action
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: basic test for run-vcpkg (not running vcpkg).
      uses: ./
      with:
        vcpkgDirectory: ${{ github.workspace }}/vcpkg
        vcpkgGitCommitId: 'd417ae59d6e9aa20d9f812b5deb966645c54687d'

    - name: basic test for run-vcpkg with running 'vcpkg install'.
      uses: ./
      with:
        vcpkgDirectory: ${{ github.workspace }}/vcpkg
        vcpkgGitCommitId: 'd417ae59d6e9aa20d9f812b5deb966645c54687d'
        runVcpkgInstall: true
        # This forces the creation of a new cache entry each time the workflow is run. 
        # It is the same across jobs in the same workflows.
        appendedCacheKey: ${{ env.GITHUB_RUN_ID }}

  tests_with_cache_hit:
    needs: tests
    name: '${{ matrix.os }}: functional tests'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: checkout this action
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: basic test for run-vcpkg (not running vcpkg).
      uses: ./
      with:
        vcpkgDirectory: ${{ github.workspace }}/vcpkg
        vcpkgGitCommitId: 'd417ae59d6e9aa20d9f812b5deb966645c54687d'
        appendedCacheKey: ${{ env.GITHUB_RUN_ID }}

  finalize_coveralls:
    needs: build_and_unit_test
    runs-on: ubuntu-latest
    steps:
    - name: Finalize Coveralls
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
      env:
        NODE_COVERALLS_DEBUG: 1
